body{ font-family: 'Poppins', sans-serif; margin: 0%; }
span{color: coral; }
section{ display: flex;
       margin-bottom: 80px;
       }
.half-width{width: 50%;
       height: 20%;
       padding-left: 5%;
       
       }
.half-width img{width: 80%;
  }
  .link-justification{
                      text-decoration: none;
                      color: rgb(255, 255, 255);
                      background-color: rgb(50, 37, 37);
                      padding: 10px 15px;
                      border-radius: 16px;
                     }

.top-banner{ background-color: antiquewhite; }
 .middle-side {
              background-image: url(images/shapes/7.png);
              background-repeat: no-repeat;
              } 
                                